@use '../../styles/variables' as *;
@use '../../styles/typography' as *;
@use '../../styles/mixins' as *;

.bordered-heading {
    &__box {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: $highlight;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;

        &--left {
            left: -20px;
        }

        &--right {
            right: -20px;
        }

    }

    &__text {
        @include titles;
        position: relative;
        padding: 0 20px;
        color: $black;
        margin: 20px 0;
        display: inline-block;
        text-align: center;
        // font-size: 60px;

    }

    &__underline {
        width: 35px;
        height: 1px;
        background-color: black;
        margin-bottom: 50px;

        @include mobile {
            margin-bottom: 30px
        }
    }
}