@use '../../styles/typography' as *;
@use '../../styles/variables' as *;

.landing {
    background-color: $background;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {

    }

    &__subtitle {
        margin: 0.5em;
        font-size: 1.5em;
        font-family: 'Consolas';
        font-weight: normal;
        text-decoration: none;
        color: black;
    }
}