@use '../../styles/variables' as *;

$switch-width: 60px;
$toggle-width: 10px;
$padding: 5px;
$border-radius: 3px;
$color-left: $orchid;
$color-right: $peach;

.toggle-switch {
    font-family: "Inconsolata";
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & * {
        cursor: pointer;
    }

    &__label {
        padding: 0 10px;
        text-transform: uppercase;
        font-weight: bold;
    }

    &__background {
        display: block;
        width: $switch-width;
        height: ($toggle-width + ($padding*2));
        background: white;
        border-radius: $border-radius;
        position: relative;
        border: 1px solid black;
        
    }
    &__toggle {
        width: $toggle-width;
        height: $toggle-width;
        border-radius: $border-radius;
        background-color: black;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: ease 0.5s;
        appearance: none;
        margin: 0;

        &--left {
            left: 5px;
            background-color: $color-left;
        }

        &--right {
            left: ($switch-width - $toggle-width - $padding);
            background-color: $color-right;
        }
    }
    
}
