$switch-width: 80px;
$toggle-width: 30px;
$padding: 5px;

.toggle-switch {
    display: flex;
    justify-content: center;
    align-items: center;

    &__label {
        padding: 0 10px;
        text-transform: uppercase;
        font-weight: bold;
    }

    &__background {
        display: block;
        width: $switch-width;
        height: ($toggle-width + ($padding*2));
        background: white;
        border-radius: 30px;
        position: relative;
        
    }
    &__toggle {
        width: $toggle-width;
        height: $toggle-width;
        border-radius: 50%;
        background-color: black;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: ease 0.5s;
        appearance: none;
        margin: 0;

        &--left {
            left: 5px;
        }

        &--right {
            left: ($switch-width - $toggle-width - $padding);
        }
    }
    
}
