@use '../../styles/typography' as *;
@use '../../styles/variables' as *;
@use '../../styles/slide-background' as *;

.error {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        @include titles;
    }

    &__tagline {
        @include body {
            font-size: 1.2rem;
        }
        margin-bottom: 0;
    }

    &__subtitle {
        margin: 0.5em;
        font-size: 1.5em;
        font-family: 'Inconsolata';
        font-weight: normal;
        text-decoration: none;
        color: black;
        align-self: center;
        cursor: pointer;
    }

    .bordered-heading__text {
        font-size: 60px;
    }
}
