@use '../../../styles/typography' as *;
@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.dev.header {
    background-color: $foreground;
    padding: 20px 0;

    &__title {
        @include titles {
            text-align: center;

            @include mobile {
                font-size: 1.5em;
            }
        }
    }
}

.dev-nav {
    display: flex;
    border-radius: 4px;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    @include mobile {
        flex-direction: column
    }
    
    &__link {
        @include links;
        font-family: Inconsolata;
        letter-spacing: 1px;
        font-size: 1.2em;
        text-decoration: none;
        padding: 3px 10px;
        margin: 3px;
        color: black;
        display: inline-block;
        width: fit-content;
        margin: auto;
        position: relative;

        @include mobile {
            font-size: 1em;
        }

        &::before {
            content: "■";
            position: absolute;
            font-size: 2em;
            left: -18px;
            top: -6px;
            line-height: 1em;
            color: $foreground;

            @include mobile {
                font-size: 1em;
                top: 0.25em;
                left: -0.5em;
            }
        }

        &::after {
            content: "■";
            position: absolute;
            font-size: 2em;
            right: -18px;
            top: -6px;
            line-height: 1em;
            color: $foreground;

            @include mobile {
                font-size: 1em;
                top: 0.25em;
                left: -0.5em;
            }
        }

        &--active {
            &::before {
                color: $cantaloupe;
            }
            &::after {
                color: $cantaloupe;
            }
        } 

        &:hover {
            &::before {
                color: $peach;
            }
            &::after {
                color: $peach;
            }
        }
    }
}