@use './variables' as *;

@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat-Light.woff2') format('woff2'),
        url('/src/assets/fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('/src/assets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat-Medium.woff2') format('woff2'),
        url('/src/assets/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('/src/assets/fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('/src/assets/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LexendDeca';
    src: url('/src/assets/fonts/LexendDeca-Light.woff2') format('woff2'),
        url('/src/assets/fonts/LexendDeca-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LexendDeca';
    src: url('/src/assets/fonts/LexendDeca-Regular.woff2') format('woff2'),
        url('/src/assets/fonts/LexendDeca-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LexendDeca';
    src: url('/src/assets/fonts/LexendDeca-Medium.woff2') format('woff2'),
        url('/src/assets/fonts/LexendDeca-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LexendDeca';
    src: url('/src/assets/fonts/LexendDeca-SemiBold.woff2') format('woff2'),
        url('/src/assets/fonts/LexendDeca-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LexendDeca';
    src: url('/src/assets/fonts/LexendDeca-Bold.woff2') format('woff2'),
        url('/src/assets/fonts/LexendDeca-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('/src/assets/fonts/Inconsolata-Regular.woff2') format('woff2'),
        url('/src/assets/fonts/Inconsolata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('/src/assets/fonts/Inconsolata-Medium.woff2') format('woff2'),
        url('/src/assets/fonts/Inconsolata-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@mixin body {
    font-family: "Inconsolata", monospace;
    @content;
}

@mixin list-reset {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

p, a, li {
    @include body;
    color: $black;
}

@mixin titles {
    font-family: "LexendDeca", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 500;
    @content;
}

@mixin links {
    font-family: "Inconsolata", monospace;
    font-weight: 400;
}