@font-face {
    font-family: 'Consolas';
    src: url('/src/assets/fonts/Consolas.woff2') format('woff2'),
        url('/src/assets/fonts/Consolas.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat-Light.woff2') format('woff2'),
        url('/src/assets/fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('/src/assets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('/src/assets/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}