$background: #FEFFF3;
$foreground: #ECFFEE;
$highlight: #FFF2DD;
$highlight2: #EEECFE;
$highlight3: #F4FED3;
$highlight4: #EDCFFB;
$highlight5: #FBD3B9;
$black: #000000;
$highlight-o: rgba(255, 242, 221, 0.7);
$highlight2-o: rgba(238, 236, 254, 0.7);
$highlight3-o: rgba(244, 254, 211, 0.7);
$highlight4-o: rgba(237, 207, 251, 0.7);
$highlight5-o: rgba(251, 211, 185, 0.7);
$foreground-o: rgba(236, 255, 238, 0.7);

$cantaloupe: $highlight;
$lavender: $highlight2;
$honeydew: $highlight3;
$orchid: $highlight4;
$peach: $highlight5;