@use '../../styles/mixins' as *;

.card {
    margin: 5px;
    cursor: pointer;
    
    &--flip {
        transform: rotateY(180deg) translateZ(1px);
        transform-style: preserve-3d;
        transition: 0.5s;
    }

    &--stay {
        transform: rotateY(540deg) translateZ(0px);
        transform-style: preserve-3d;
        transition: 0.5s;

        .card__face--front {
            visibility: hidden;
        }
    }

    &__face {
        width: 150px;
        padding: 5px;

        @include tablet-small {
            width: 80px;
        }

        @include tablet-large {
            width: 90px;
        }

        @include laptop {
            width: 100px;
        }
        
        &--front {
            transform: translate3d(0, 0, 0);
            position: absolute;
            z-index: 1;
            transform-style: preserve-3d;
            backface-visibility: hidden;
        }
        
        &--back {
            transform: rotateY(-180deg) translateZ(1px);
            transform-style: preserve-3d;
            transition: 0.5s;
        }
        
    }
}
