.card {
    // width: 120px;
    padding: 5px;
    // flex-basis: 16%;
    // cursor: pointer;
    // padding: 10px 0;
    
    &--flip {
        transform: rotateY(180deg) translateZ(1px);
        transform-style: preserve-3d;
        transition: 0.5s;
    }

    &--inactive {
        transform: rotateY(180deg) translateZ(1px);
        transform-style: preserve-3d;
        transition: 0.5s;
    }

    &__face {
        // border-radius: 50%;
        
        &--front {
            transform: translate3d(0, 0, 0);
            position: absolute;
            z-index: 1;
            transform-style: preserve-3d;
            backface-visibility: visible;
            backface-visibility: hidden;
        }
        
        &--back {
            transform: rotateY(-180deg) translateZ(1px);
            transform-style: preserve-3d;
            transition: 0.5s;
        }
        
    }

}
