.card {
    
    padding: 5px;
    cursor: pointer;
    
    &--flip {
        transform: rotateY(180deg) translateZ(1px);
        transform-style: preserve-3d;
        transition: 0.5s;
    }

    &--stay {
        transform: rotateY(540deg) translateZ(0px);
        transform-style: preserve-3d;
        transition: 0.5s;

        .card__face--front {
            visibility: hidden;
        }
    }

    //correct styling
    &__face {
        width: 150px;
        padding: 5px;
        
        &--front {
            transform: translate3d(0, 0, 0);
            position: absolute;
            z-index: 1;
            transform-style: preserve-3d;
            backface-visibility: hidden;
        }
        
        &--back {
            transform: rotateY(-180deg) translateZ(1px);
            transform-style: preserve-3d;
            transition: 0.5s;
        }
        
    }
    //reverse for testing
    // &__face {
    //     width: 150px;
    //     padding: 5px;
        
    //     &--back {
    //         transform: translate3d(0, 0, 0);
    //         position: absolute;
    //         z-index: 1;
    //         transform-style: preserve-3d;
    //         backface-visibility: visible;
    //         backface-visibility: hidden;
    //     }
        
    //     &--front {
    //         transform: rotateY(-180deg) translateZ(1px);
    //         transform-style: preserve-3d;
    //         transition: 0.5s;
    //     }
        
    // }

}
