@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.art-about {
    padding: 3% 15% 10%;
    position: relative;
    min-height: 75vh;
    position: relative;
    overflow: hidden;

    @include mobile {
        padding: 3% 5% 10%;
    }

    &__container {
        background-color: $cantaloupe-o;
        padding: 5%;
    }   

    &__background {
        position: absolute;
        width: 150%;
        top: -20%;
        left: -20%;
        opacity: 0.25;

        
    }

    &__text {
        font-size: 1.2em;
        line-height: 1.8;
    }
}