@use '../../../styles/mixins' as *;

.dev-about {
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // align-items: center;
    padding: 3% 15%;
    position: relative;
    min-height: 75vh;

    @include mobile {
        padding: 3% 5%;
    }

    @include laptop {
        min-height: 80vh;
    }

    &__text-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &__text {
        font-family: 'Inconsolata';
        letter-spacing: 2px;
        line-height: 2.2em;
        font-size: 1.2em;
        text-align: center;
        background-color: rgb(255 242 221 / 85%);

        @include mobile {
            letter-spacing: 1px;
            line-height: 1.7em;
            padding: 20px;
            margin-top: 0;
        }

        &--emphasis {
            font-weight: bold;
        }
    }

    &__portrait {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 20%;
        opacity: 0.9;
        z-index: -1;

        @include mobile {
            display: none;
        }

        @include tablet-small {
            width: 30%;
        }

        // @include tablet-large {
        //     width: 25%;
        // }

        @include laptop {
            width: 25%;
        }

        @include desktop {
            width: 25%;
        }
    }

    .bordered-heading__text {
        font-size: 24px;
    }
}