@use './styles/variables' as *;
@use './styles/typography' as *;
@use './styles/mixins' as *;

.art {
  font-family: 'LexendDeca';
  font-weight: 300
}

body, html {
  margin: 0;
  text-align: center;
}

html {
  background-color: $background;
}