@use '../../styles/variables' as *;
@use '../../styles/typography' as *;

.nav {
    padding: 1em;

    &.dev {
        background-color: $foreground;
    }
    
    &.art {
        background-color: $orchid;
    }
}
